# General
*.class
*.log
*.jar
*.war
*.ear
*.zip

# Gradle
.gradle/
build/
.gradle/cache/
.gradle/*/build/
gradle-app.setting/
gradle-app.setting.lock
!gradle-wrapper.jar

# IntelliJ IDEA
*.iml
*.iws
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Docker
docker-compose.yml
Dockerfile
*.tar
.dockerignore

# OS-specific
.DS_Store
Thumbs.db
